<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="24" android:versionName="0.2.4" package="z.xtreamiptv.player" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="z.xtreamiptv.player.permission.C2D_MESSAGE" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="z.xtreamiptv.player.MyApplication" android:allowBackup="true" android:supportsRtl="true" android:banner="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:theme="@style/Theme.AppCompat.NoActionBar" android:label="@string/app_name" android:name="z.xtreamiptv.player.MainActivity" />
        <activity android:label="@string/app_name" android:name="z.xtreamiptv.player.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="z.xtreamiptv.player.LiveChannelsActivity" android:parentActivityName="z.xtreamiptv.player.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="z.xtreamiptv.player.MainActivity" />
        </activity>
        <activity android:name="z.xtreamiptv.player.MoviesActivity" android:parentActivityName="z.xtreamiptv.player.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="z.xtreamiptv.player.MainActivity" />
        </activity>
        <activity android:name="z.xtreamiptv.player.ReplayActivity" android:parentActivityName="z.xtreamiptv.player.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="z.xtreamiptv.player.MainActivity" />
        </activity>
        <activity android:name="z.xtreamiptv.player.SeriesCategoryActivity" android:parentActivityName="z.xtreamiptv.player.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="z.xtreamiptv.player.MainActivity" />
        </activity>
        <activity android:name="z.xtreamiptv.player.SeriesActivity" android:parentActivityName="z.xtreamiptv.player.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="z.xtreamiptv.player.MainActivity" />
        </activity>
        <activity android:theme="@style/Theme.AppCompat.NoActionBar" android:label="@string/app_name" android:name="z.xtreamiptv.player.VideoActivity" android:screenOrientation="user" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_settings" android:name="z.xtreamiptv.player.SettingsActivity" android:parentActivityName="z.xtreamiptv.player.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="z.xtreamiptv.player.MainActivity" />
        </activity>
    </application>
</manifest>
